html {

font-family: ff-more-web-pro, serif;
font-weight: 700;
font-style: normal;

font-family: ff-more-web-pro, serif;
font-weight: 400;
font-style: normal;

font-family: fira-sans, sans-serif;
font-weight: 500;
font-style: normal;

font-family: fira-sans, sans-serif;
font-weight: 700;
font-style: normal;

font-family: fira-sans, sans-serif;
font-weight: 800;
font-style: normal;

font-family: fira-sans, sans-serif;
font-weight: 900;
font-style: normal;

font-family: fira-sans, sans-serif;
font-weight: 600;
font-style: normal;

}

.sans {
  font-family: fira-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.serif {
  font-family: ff-more-web-pro, serif;
  font-weight: 400;
  font-style: normal;
}

.ultra {
  font-family: fira-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.extra {
  font-family: fira-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
}

.prep {
  font-family: fira-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.intro {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

.btn-ghost {
  color: #871c21;
  border-color: #9e0000;
  border-width: 2px;
}

.btn-ghost:hover {
  color: #fff;
  background-color: #871c21;
  border-color: #9e0000;
  border-width: 2px;
}

.nav a {
  display: block;
  text-decoration: none;
  color: #871c21;
  border-bottom: 2px solid #9e0000;
}

.nav a:hover {
  color: #000;
}

footer {
  border-top: 2px solid #e2e2e2;
}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

}
